<div class="page-defaults" id="shopId" >
  <h1><span>Little Esty Shop</span></h1>
</div>

<div class="page-defaults" id="splitSides">

  <div class="page-defaults" id="leftSide">
    <%= @merchant.name %>
  </div>

  <div class="page-defaults" id="rightSide">
    <ul>
      <%= link_to 'Dashboard', "/merchants/#{@merchant.id}/dashboard" %>
      <%= link_to 'My Items', "/merchants/#{@merchant.id}/items" %>
      <%= link_to 'My Invoices', "/merchants/#{@merchant.id}/invoices" %>
      <%= link_to 'My Discounts', "/merchants/#{@merchant.id}/bulk_discounts" %>
    </ul>
  </div>

</div>

<div class="page-defaults" id="splitSides">
  <div class="page-defaults" id="leftSide2">
    <h2>Discounts</h2>
    <table class="discount-table">
      <tr>
        <th>Discount ID</th>
        <th>Percentage Discount</th>
        <th>Quantity Threshold</th>
      </tr>
      <% @merchant.bulk_discounts.each do |discount| %>
        <tr id="discount-<%= discount.id %>">
          <td><%= link_to "##{discount.id}", "/merchants/#{@merchant.id}/bulk_discounts/#{discount.id}" %></td>
          <td><%= number_to_percentage((discount.percentage * 100), precision: 0) %></td>
          <td><%= discount.quantity_threshold %></td>
        </tr>
      <% end %>
    </table>
    <%= link_to "Create A New Discount", "/merchants/#{@merchant.id}/bulk_discounts/new" %>
  </div>

  <div class="page-defaults" id="rightSide2">
  </div>
</div>
