<div class="page-defaults" id="shopId" >
  <h1><span>Little Esty Shop</span></h1>
</div>

<div class="page-defaults" id="splitSides">

  <div class="page-defaults" id="leftSide">
    <%= @merchant.name %>
  </div>

  <div class="page-defaults" id="rightSide">
    <ul>
      <%= link_to 'Dashboard', "/merchants/#{@merchant.id}/dashboard" %>
      <%= link_to 'My Items', "/merchants/#{@merchant.id}/items" %>
      <%= link_to 'My Invoices', "/merchants/#{@merchant.id}/invoices" %>
      <%= link_to 'View All Discounts', "/merchants/#{@merchant.id}/bulk_discounts" %>
    </ul>
  </div>

</div>

<div class="center-left">
  <h2>Create A New Discount</h2>
  <% flash.each do |type, msg| %>
    <div>
      <%= msg %>
    </div>
  <% end %>
  <%= render partial: 'form', locals: {model: BulkDiscount,
                                        url: merchant_bulk_discounts_path,
                                        method: :post,
                                        button_text: 'Create Discount'} %>
</div>

<div class="page-defaults" id="splitSides">
  <div class="page-defaults" id="leftSide2">
  </div>

  <div class="page-defaults" id="rightSide2">
  </div>
</div>
